.jumbotron
  %h1.display-4 Home

.card.mb-3
  .card-header
    Program Summary
  .card-body
    %p.card-text
      The purpose of this program is to ease the use of tracking Overall Equipment Efficiency. 
      OEE is an industry standard key performance indicator. (KPI). 
      OEE is calculated from the three following indicators: 
      %ol
        %li Availability
        %li Performance
        %li Quality
      To accomplish this task, this program allows users to create metrics recordings. 
      Each recording has five inputs. These inputs are used to obtain the availability, 
      performance, and quality indicators. These inputs are:
      %ol
        %li Planned Production Time
        %li Stop Time
        %li Ideal Cycle Time
        %li Total Count
        %li Good Count
      To track these recordings, each recording is assigned to a piece of equipment, which is then assigned to a facility. 
      Multiple recordings can be aggregated to formulate the final calculation. 
      This data can be exported as a csv report for import into Excel or Tableau. T
      he data can also be accessed via an OBDC database driver. 
      
.row
  .col-md-6
    .card.mb-3
      .card-header
        Program Organization
      .card-body
        %p.card-text
          The program's organizational structure can be viewed from a user perspective in the following structure:
      = image_tag('application_organization_chart.png', :class => 'card-img-bottom', :style => 'padding: 20px;')

  .col-md-6
    .card.mb-3
      .card-header
        Calculation Library
      .card-body
        %p.card-text
          The table stored in the database contains these additional fields, oee, availability, quality, and performance. 
          These fields are calculated before the record is saved to the database. 
          This is done by using the custom ruby library, Oeecalc, which inherits its functionality from the class Oeemath. (Oeecalc < Oeemath) 
          On save, these values are stored in the database. This data is stored as a float datatype, as a percentage.
      = image_tag('application_visual_cone.png', :class => 'card-img-bottom', :style => 'padding: 20px;')
